doctype html
//
  Ethereal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

head
  title USC-voting-platform
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')

header#navbar
  h2 USC-Voting-platform
  nav.links
    ul
      li
        a(href='/homePre') President/VP
      li
        a(href='/homeRep') Representatives
  nav.main
    ul
      li
        p !{Name} !{Surname}
      li
        p Logout 
// Page Wrapper
#page-wrapper
  // Wrapper
  #wrapper
  
    // Panel (Banner)
    section#start.panel.banner.right
      .content.color1.span-3-75
        h1.major
          | Javad
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Alizada
        h3 Representative
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu quam nec nisl tincidunt pretium at eget lorem. Aenean tempus eleifend diam et accumsan. Sed nec mollis ligula. In hac habitasse platea dictumst. Vivamus in erat vestibulum, varius libero eget, hendrerit ligula. Aliquam finibus sem purus, eu feugiat augue consectetur vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        ul.actions
          li
            a.button.primary.color2(href='#') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#first') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/javad.jpg' alt='')
    // Panel (Spotlight)
    section#first.panel.banner.right
      .content.color2.span-3-75
        h1.major
          | Laman
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jalilova
        h3 Representative
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu quam nec nisl tincidunt pretium at eget lorem. Aenean tempus eleifend diam et accumsan. Sed nec mollis ligula. In hac habitasse platea dictumst. Vivamus in erat vestibulum, varius libero eget, hendrerit ligula. Aliquam finibus sem purus, eu feugiat augue consectetur vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        ul.actions
          li
            a.button.primary.color2(href='#') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#second') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/laman.jpg' alt='')
    // Panel
    section#second.panel.banner.right
      .content.color3.span-3-75
        h1.major
          | Rishad
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Akhundov
        h3 Representative
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu quam nec nisl tincidunt pretium at eget lorem. Aenean tempus eleifend diam et accumsan. Sed nec mollis ligula. In hac habitasse platea dictumst. Vivamus in erat vestibulum, varius libero eget, hendrerit ligula. Aliquam finibus sem purus, eu feugiat augue consectetur vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        ul.actions
          li
            a.button.primary.color2(href='#') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#third') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/rishad.jpg' alt='')
    // Panel (Spotlight)
    section#third.panel.banner.right
      .content.color4.span-3-75
        h1.major
          | Anar
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mammadov
        h3 Representative
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu quam nec nisl tincidunt pretium at eget lorem. Aenean tempus eleifend diam et accumsan. Sed nec mollis ligula. In hac habitasse platea dictumst. Vivamus in erat vestibulum, varius libero eget, hendrerit ligula. Aliquam finibus sem purus, eu feugiat augue consectetur vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        ul.actions
          li
            a.button.primary.color2(href='#') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#fourth') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/anar.jpg' alt='')
    // Panel
    section#fourth.panel.banner.right
      .content.color0.span-3-75
        h1.major
          | Turgay
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Gardashli
        h3 Representative
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu quam nec nisl tincidunt pretium at eget lorem. Aenean tempus eleifend diam et accumsan. Sed nec mollis ligula. In hac habitasse platea dictumst. Vivamus in erat vestibulum, varius libero eget, hendrerit ligula. Aliquam finibus sem purus, eu feugiat augue consectetur vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        ul.actions
          li
            a.button.primary.color0(href='#') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-left(href='#start') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/turgay.jpg' alt='')
    // Copyright
    .copyright
      | &copy; USC-Voting-System. Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/main.js')
