doctype html
//
  Ethereal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

head
  title USC-voting-platform
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')

header#navbar
  h2 USC-Voting-platform
  nav.links
    ul
      li
        a(class='president',href='/homePre') President/VP
      li
        a(class='repr',href='/homeRep') Representatives
  nav.main
    ul
      li
        p &nbsp;&nbsp;!{Name} !{Surname}&nbsp;&nbsp;
      li
        a(id="logout",href='/api/logout') Logout &nbsp;&nbsp;
// Page Wrapper
#page-wrapper
  // Wrapper
  #wrapper
  
    // Panel (Banner)
    section#start.panel.banner.right
      .content.color1.span-3-75
        h1.major
          | Vagif
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Taghiyev
        h3 Representative &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GE-18
        p
          | First and the main concern will be online education. I want to make sure that everyone is comfortable with the way lessons and exams are conducted. To do this, we can do frequent surveys, to see what problems do student face during the lectures. Other than that, i suggest that next semester lectures should be more interractive (for example : polls). Because this way, students will not be bored during 1h30 minutes sitting in front of their computer.
        ul.actions
          li
            button.button.primary.color2(id='vote',value='vagif.taghiyev@ufaz.az') Vote
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/vaqif.jpg' alt='')
    // Copyright
    .copyright
      | &copy; USC-Voting-System. Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/main.js')
