doctype html
//
  Ethereal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

head
  title USC-voting-platform
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')

header#navbar
  h2 USC-Voting-platform
  nav.links
    ul
      li
        a(class='president',href='/homePre') President/VP
      li
        a(class='repr',href='/homeRep') Representatives
  nav.main
    ul
      li
        p &nbsp;&nbsp;!{Name} !{Surname}&nbsp;&nbsp;
      li
        a(id="logout",href='/api/logout') Logout &nbsp;&nbsp;
// Page Wrapper
#page-wrapper
  // Wrapper
  #wrapper
  
    // Panel (Banner)
    section#start.panel.banner.right
      .content.color1.span-3-75
        h1.major
          | Azim
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Kazimli
        h3 Representative &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CS-20
        p
          | Hello there ,my name is Azim.I am a fairly responsible and open person. By choosing me,you can be sure that you would be able to write your any suggestion, any question to the representative,and i will do my best to help you. Thank you for attention.
        ul.actions
          li
            button.button.primary.color2(id='vote',value='azim.kazimli@ufaz.az') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#first') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/azim.jpg' alt='')
    // Panel (Spotlight)
    section#first.panel.banner.right
      .content.color2.span-3-75
        h1.major
          | Kamran
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Heydarov
        h3 Representative &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CE-20
        p
          | I will give information to other students about topics they don't know or can't understand. And be contact same students about this. I will give new exam tips and listen to other student's decisions and help them. I promise for other student be true.
        ul.actions
          li
            button.button.primary.color2(id='vote2',value='kamran.heydarov@ufaz.az') Vote
          li
            a.button.primary.color1.circle.icon.solid.fa-angle-left(href='#start') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src='images/placeholderboy.jpg' alt='')
    // Copyright
    .copyright
      | &copy; USC-Voting-System. Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/main.js')
